
h1{

display: flex;
align-items: center;
justify-content: center;
color:darkmagenta
}

h2{

    display: flex;
    align-items: center;
    justify-content: center;
    color:red;

    }

div{

display: flex;
align-items:center;
justify-content: center;
margin-top: 50px;

}


.start{
    display: inline-block;
    height: 100px;
    width: 200px;
    background-color: burlywood;
   
   

}

.stop{

    margin-left: 10px;
    display: inline-block;
    height: 100px;
    width: 200px;
    background-color:aqua;

}
